<footer>

    <!-- colonnes responsives pour retrouver les informations utiles -->
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-lg col-md mb mb-md col-sm">
                <h2>Charles Cantin</h2>
                <hr class="footer_line1">
                <h3>Photographes</h3>
            </div>

            <hr class="footer_verticale">
            
            <div class="col-lg col-md mb mb-md col-sm liensUtiles">
                <h4>Liens utiles</h4>
                <ul>
                    <li>
                        <a href="_site/galeries/">Catégories</a>
                    </li>
                    <li>
                        <a href="_site/Tarifs/">Tarifs</a>
                    </li>
                </ul>
            </div>

            <hr class="footer_verticale">

            <div class="col-lg col-md mb mb-md col-sm">
                <h4>Nous trouver</h4>
                <p>79 Avenue des plumes</p>
                <p>54697 Merveilles</p>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="col-12 text-center p-3" style="background-color: rgba(109, 157, 84, 1);">
        © 2022 Copyright : tous droits réservés - 
        <a class="text-white" href="">Mentions légales</a>
    </div>

</footer>