<header>

    <nav class="navbar navbar-expand-lg ">
        
        <!-- Bouton toggle pour le site en responsive -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Pages de la navigation -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                            
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" 
                    href="_site/index.html">Accueil</a>
                </li> 

                <li class="nav-item">
                    <a class="nav-link active" href="_site/galeries/index.html">Galeries</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="_site/Tarifs/index.html">Tarifs et prestations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="_site/contact/index.html">Contact</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Logo du site -->
    <div class="style">
        <div id="LogoImg">
            <img src="C:\Users\marjorie\Desktop\eval-front-end-global\Sitecharlescantin\src\img\Image1.png" alt="Logo charles cantin" />
        </div>
    </div>

    <!-- Accès aux réseau sociaux -->
    <div class="style2">
        <ul>
            <li>
                <a class="btn-outline-light btn-floating m-1" href="{{social.Facebook}}" role="button" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>

            <li>
                <a class="btn-outline-light btn-floating m-1" href="#" role="button" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
        </ul>
    </div>

</header>