--- 
layout: layout:njk 
---
{{ content | safe }}
<!-- 
<main class="mainGalerie">
    <section class="mainGalerie global">
        <article>
            <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/mariage/mariage.jpg" alt="">
            <div>
                {% for galeries in collections.photo %}
                    {% include "Mariage.md"%}
                {% endfor %}
            </div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>
    </section>
</main>
-->