--- 
layout: layout.njk
---

<!-- Page pour les tarifs -->
<!-- main des tarifs -->

<main class="tarifs">

    <!-- container section qui englobe les deux grands groupes de tarifs -->
    <section class="tarifsSection container">

        <!-- premier grand groupe de tarifs : "Juste moi", "Pour deux" et "Famille" -->
        <article class="tarifsBlock row">

            <!-- Tarif "Juste moi" -->
            <div class="sousBlock justeMoi col">
                <div class="blockImg">
                    <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/justemoi.jpg">
                </div>
                
                <h4>« Juste moi »</h4>
                <hr>
                <p>130 euros</p>
                <p>Séance pour une personne, <br>
                en extérieur <br>
                ou <br>
                en studio</p>
            </div>

            <!-- Tarif "Pour deux" -->
            <div class="sousBlock pourDeux col">
                <div class="blockImg">
                    <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/pourdeux.jpg">
                </div>

                <h4>« Pour deux »</h4>
                <hr>
                <p>195 euros</p>
                <p>Pour deux personnes, <br>
                en extérieur <br>
                ou <br>
                en studio</p>
            </div>

            <!-- Tarifs en "Famille" -->
            <div class="sousBlock famille col">
                <div class="blockImg">
                   <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/famille.jpg"> 
                </div>

                <h4>« Famille »</h4>
                <hr>
                <p>220 euros</p>
                <p>Pour la famille ou les amis, jusqu’à 4 personnes, <br>
                en extérieur <br>
                ou <br>
                en studio</p>
                <p class="lastFamille">30 euros en supplément par personne <br>
                au-delà de 4 (hormis enfant jusqu’à 2 ans)</p>
            </div>

        </article>

        <!-- deuxième grand groupe de tarifs : "Il était une fois", "Mon bébé" et "Immortalise l'événement" -->
        <article class="tarifsBlock row">

            <!-- Tarif "Il était une fois" -->
            <div class="sousBlock ilEtaitUneFois col">
                <div class="blockImg">
                    <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/ilEtaitUneFois.jpg">
                </div>

                <h4>« Il était une fois »</h4>
                <hr>
                <p>160 euros</p>
                <p>Photo de grossesse, <br>
                à votre domicile, en extérieur <br>
                ou en studio</p>
            </div>

            <!-- Tarifs "Mon bébé" -->
            <div class="sousBlock monBebe col">
                <div class="blockImg">
                    <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/monBebe.jpg">
                </div>

                <h4>« Mon bébé »</h4>
                <hr>
                <p>100 euros</p>
                <p>Photo d’enfant jusqu’à 3 ans, <br>
                à domicile</p>
            </div>

            <!-- tarif "J'immortalise l'événement" -->
            <div class="sousBlock immortaliseEvenement col">
                <div class="blockImg">
                   <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/immortaliseEvenement.jpg"> 
                </div>

                <h4>« J'immortalise l'événement »</h4>
                <hr>
                <p>Sur mesure</p>
                <p>Prestation de mariage ou baptême <br>
                sur devis</p>
            </div>

        </article>
    </section>
</main>