--- 
layout: layout.njk
---

<main class="contact">

    <div class="contactForm block">
        <form class="contactForm form" name="contact" method="POST" data-netlify="true">
            <div class="contactForm style">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                    <div class="col">
                        <label for="myname">Nom</label>
                        <input type="text" class="form-control" placeholder="Nom" id="myname">
                    </div>
                    <div class="col">
                        <label for="myfirstname">Prénom</label>
                        <input type="text" class="form-control" placeholder="Prénom" id="myfirstname">
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-group">
                    <label for="adressmail">Adresse email</label>
                    <input type="email" class="form-control" placeholder="nom@exemple.com" id="adressmail">
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="writemessage">Message</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Ecrivez votre message..." id="writemessage"></textarea>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Envoyer</button>
            </div> 
        </form>
    </div>
</main>