--- 
layout: layout.njk
---

<main class="mainGalerie">
    <section class="mainGalerie global">
        <article>
            <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/mariage.jpg" alt="">
            <div>
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Mariage/index.html"%}

            </div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>
    </section>
</main>