--- 
layout: layout.njk
---


<!--
<main class="mainGalerie">
    <section class="mainGalerie global">
        <article>
            <img src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/mariage.jpg" alt="">
            <div>
                {% for photos in collections.photo %}
                    <a href="{{ photos.url | url }}"></a>
                {% endfor %}
            </div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>

        <article>
            <img src="" alt="">
            <div></div>
        </article>
    </section>
</main>
-->