--- 
layout: layout.njk
---

<main class="mainGalerie">
    <section class="mainGalerie global">

        <article class="catégories">
            
            <button class="visiblePhoto">
                <h4 class="right">Mariage</h4>
                <img class="Mariage" src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/mariage.jpg" alt="">
            </button>

            <div class="photos col">
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Mariage/index.html"%}
            </div>

        </article>


        <article class="catégories">
            
            <button class="visiblePhoto">
                <h4 class="left">Grossesse</h4>
                <img class="Grossesse" src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/grossesse/pregnant-g74224355e_1280.jpg" alt="">
            </button>

            <div class="photos">
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Grossesse/index.html"%}
            </div>
        </article>




        <article class="catégories">
            
            <button class="visiblePhoto">
                <h4 class="right">Bébé</h4>
                <img class="Bébé" src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/Bébé/baby-gd26674d69_1920.jpg" alt="">
            </button>

            <div class="photos">
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Bébé/index.html"%}
            </div>
        </article>




        <article class="catégories">
            
            <button class="visiblePhoto">
                <h4 class="left">Famille</h4>
                <img class="Famille" src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/famille/kids-gd5e02e13b_1920.jpg" alt="">
            </button>

            <div class="photos">
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Famille/index.html"%}
            </div>
        </article>



        <article class="catégories">
            
            <button class="visiblePhoto">
                <h4 class="right">Baptême</h4>
                <img id="Baptême" src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/baptême/shoes-g56f56fb08_1920.jpg" alt="">
            </button>

            <div class="photos">
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Baptême/index.html"%}
            </div>         
        </article>



        <article class="catégories">
            
            <button class="visiblePhoto">
                <h4 class="left">Couple</h4>
                <img class="Couple" src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/couple/couple-g5efbfca11_1920.jpg" alt="">
            </button>

            <div class="photos">
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Couple/index.html"%}
            </div>
        </article>



        <article class="catégories">
            
            <button class="visiblePhoto">
                <h4 class="right">Portrait</h4>
                <img class="Portrait" src="C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/src/img/portrait/hijab-g3b24d1457_1920.jpg" alt="">
            </button>

            <div class="photos">
                {% include "C:/Users/marjorie/Desktop/eval-front-end-global/Sitecharlescantin/public/photo_galerie/Portrait/index.html"%}
            </div>
        </article>

    </section>
</main>