---
layout : layout.njk

output:
  html_document:
    css: "./style.css"
---

<!-- Page d'accueil avec titre h1 et h2-->

<main class="accueil">
    <div class="container">
        <div class="texte">
            <h1>Charles Cantin</h1> 
            <hr>
            <h2>Photographe</h2> 
        </div>
    </div>
</main>