---
layout : layout.njk
---


<main class="accueil">
    <div class="container">
        <div class="texte">
            <h1>Charles Cantin</h1> 
            <hr>
            <h2>Photographe</h2> 
        </div>
    </div>
</main>