--- 
layout: layout.njk
---

<main class="tarifs">
    <section class="tarifsBlock">
        <div class="tarifs block1">
            <div class="justeMoi">
                <img src="C:\Users\marjorie\Desktop\eval-front-end-global\Sitecharlescantin\src\img\justemoi.jpg">
                <p>« Juste moi »</p>
                <hr>
                <p>130 euros</p>
                <p></p>
            </div>
            <div class="pourDeux">
                <img src="C:\Users\marjorie\Desktop\eval-front-end-global\Sitecharlescantin\src\img\pourdeux.jpg">
                <p>« Pour deux »</p>
                <hr>
                <p>195 euros</p>
                <p>220 euros</p>
            </div>
            <div class="famille">
                <img src="C:\Users\marjorie\Desktop\eval-front-end-global\Sitecharlescantin\src\img\famille.jpg">
                <p>« Famille »</p>
                <hr>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="tarifs block2">
            <div>
                <img src="" alt="">
                <p>«  »</p>
                <hr>
                <p></p>
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <p>«  »</p>
                <hr>
                <p></p>
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <p>«  »</p>
                <p></p>
            </div>
        </div>
    </section>
</main>