--- 
layout: layout.njk
---

<main class="tarifs">
    <section class="tarifsBlock">
        <div class="tarifs block1">
            <div class="justeMoi">
                
            </div>
            <div class="pourDeux">
                <img src="">
                <p>« Pour deux »</p>
                <hr>
                <p>195 euros</p>
                <p>220 euros</p>
            </div>
            <div class="famille">
                <img src="">
                <p>« Famille »</p>
                <hr>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="tarifs block2">
            <div>
                <img src="" alt="">
                <p>«  »</p>
                <hr>
                <p></p>
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <p>«  »</p>
                <hr>
                <p></p>
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <p>«  »</p>
                <p></p>
            </div>
        </div>
    </section>
</main>